@model IEnumerable<HighSchoolMarathon.WebApp.Models.EventModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRunners)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.EventName)</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRunners)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
